<!-- <h1>{{ Titulo }}</h1> -->

<!-- <h3>La base es: <strong>{{ base }}</strong></h3>TAREA S4-C41 -->

    <!--<button (click)="numero = numero + 1">+1</button>--><!--"()" - Declara evento -->
    <!-- <button (click)="sumar()">+1</button> -->
    <!-- <button (click)="acumular(1)">+1</button> -->
<!-- <button (click)="acumular( base )">+ {{ base }}</button> -->

<!-- <span> {{ numero }} </span> -->

    <!-- <button (click)="numero = numero - 1">-1</button> -->
    <!-- <button (click)="restar()">-1</button> -->
    <!-- <button (click)="acumular(-1)">-1</button> -->
<!-- <button (click)="acumular(- base)">- {{ base }}</button> -->


<!--S4 - Capitulo 42 - Crear un componente manualmente-->
<!-- <app-contador></app-contador> -->

<!-- S4 - Capitulo 43 - Componente Heroe y se paracion de directorios -->
<!-- <app-heroe></app-heroe> -->

<!-- S4 - Capitulo 46 - Crear componente de forma automática -->
<!-- <app-listado></app-listado> -->

<!-- <app-main-page></app-main-page> --><!--S5 - Capitulo 57 - Módulo DBZ-->

<app-dbz-main-page></app-dbz-main-page><!--S5.2 - Capitulo 54 - Módulo DBZ-->